@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

/* HTML & BODY  */
* {
  box-sizing: border-box;
}

body {
  margin: 1em;
  font-family: Inter, sans-serif;
}

fieldset {
  line-height: 1.5;
  background-color: #f6fa70;
  min-height: 150px;
  align-items: center;
}

fieldset,
button {
  border-radius: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.containerMovieDB * {
  margin-top: 0.5em;
}
.containerMovieDB button {
  background-color: #19a7ce;
  font-family: Inter, sans-serif;
  padding: 1em;
}
.containerChart {
  margin-top: 1em;
}
#chartbutton {
  margin: auto;
}
.containerMovieDB button:hover {
  box-shadow: 5px 5px 0px;
}

ul {
  list-style: circle;
}
