@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

/* COLOURS VAR */
:root {
  --yellow: #f6fa70;
  --light-blue: #0079ff;
  --green: #00dfa2;
  --cyan: #19a7ce;
}
/* HTML & BODY  */
* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 1em;
  position: relative;
  min-height: 95vh;
}

/* FORM & FIELDSET & BUTTONS */
fieldset {
  font-size: 1.5em;
  line-height: 1.5;
  background-color: var(--yellow);
  min-height: 150px;
  align-items: center;
}
fieldset button {
  background-color: var(--light-blue);
  color: white;
  font-weight: 600;
}
fieldset,
button {
  border-radius: 5px;
}

.containerMovieDB button {
  background-color: var(--cyan);
  font-family: Inter, sans-serif;
  padding: 1em;
}
.containerMovieDB img {
  max-width: 10em;
}
.containerChart {
  margin-top: 1em;
}
#chartbutton {
  display: none;
  margin: auto;
  background-color: var(--green);
  padding: 1em;
}
#chartbutton:hover,
.containerMovieDB button:hover,
.containerMovieDB button:focus {
  box-shadow: 5px 5px 0px;
}

/* PARAGRAPH */
p {
  text-align: justify;
}
p a {
  display: block;
}
ul {
  list-style: circle;
}
#chartimage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* CHART */
.chartColourIndicator {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  display: none;
  position: absolute;
  transform: translateY(21px);
}

.chartKeyColour {
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid;
  margin-left: 0.5em;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 0.7em;
  width: 100%;
}
footer > p {
  text-align: center;
}
#tmdbAttribute {
  height: fit-content;
  position: relative;
  top: 0.5em;
}
#tmdbAttribute > img {
  width: 3.5em;
  height: auto;
}
#results {
  padding-bottom: 150px;
}

/* ANIMATION */
.loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 2s linear infinite;
  margin: 2em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PRIMITIVES */

/* Margins */
.stack-sm > * {
  margin-top: 0.2em;
}
.stack-mid > * {
  margin-top: 0.8rem;
}

/* display */
.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.inline {
  display: inline;
}
/* MEDIASCREEN */
@media screen and (min-width: 500px) {
  .containerChart {
    display: grid;
    justify-items: center;
  }
  .containerMovieDB {
    display: grid;
    justify-items: center;
  }
  .containerMovieDB > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 35rem;
    font-size: 1.2em;
    align-items: center;
  }
  .containerMovieDB img {
    max-width: 15em;
  }
  fieldset {
    font-size: 1.8em;
  }
  fieldset button {
    padding: 10px;
    font-size: 0.6em;
  }
  .containerMovieDB button {
    font-size: 1.2rem;
  }
  #chartimage {
    max-width: 70%;
  }
}
